node_modules
experiencenash/src/.env

experiencenash/.idea/
experiencenash/.vscode/
experiencenash/node_modules/
experiencenash/build/
experiencenash/tmp/
experiencenash/temp/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
experiencenash/website/node_modules
experiencenash/website/.pnp
experiencenash/website/.pnp.js

# testing
experiencenash/website/coverage

# production
experiencenash/website/build

# misc
experiencenash/website/.DS_Store
experiencenash/website/.env.local
experiencenash/website/.env.development.local
experiencenash/website/.env.test.local
experiencenash/website/.env.production.local

experiencenash/website/npm-debug.log*
experiencenash/website/yarn-debug.log*
experiencenash/website/yarn-error.log*



experiencenash/.env
